<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.inventoryserver.exmapper.ExArticleExMapper">
<sql id="Base_Column_List">
    id, del, add_time, content
  </sql>
  <insert id="save" parameterType="com.xiang.bean.po.ArticleEx">
    insert into article_ex (
     <include refid="Base_Column_List" />
      )
    values (#{id,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
      #{del,jdbcType=BIT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
      #{addTime,jdbcType=TIMESTAMP,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{content,jdbcType=LONGVARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
      )
  </insert>
</mapper>