<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.inventoryserver.exmapper.ExProductMapper">
  <resultMap id="BaseResultMap" type="com.xiang.bean.po.Product">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="barcode" jdbcType="VARCHAR" property="barcode" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="catalog_id" jdbcType="BIGINT" property="catalogId" />
    <result column="del" jdbcType="BIT" property="del" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <sql id="Base_Column_List">
  id, code, name, spec, barcode, img_url, catalog_id, del, add_time
  </sql>
   <sql id="Page_Clause">
   limit ${page.cursor},${page.limit}
  </sql>
    <sql id="Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <insert id="save" parameterType="com.xiang.bean.po.Product">
    insert into product (
     <include refid="Base_Column_List" />
      )
    values (
    #{id,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
    #{code,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
    #{name,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
    #{spec,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
   #{barcode,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
   #{imgUrl,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
     #{catalogId,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
      #{del,jdbcType=BIT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}, 
      #{addTime,jdbcType=TIMESTAMP,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
      )
  </insert>
    <select id="getList" resultMap="BaseResultMap"  parameterType="map">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="example != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="page != null">
    <if test="page.sort != null">
      order by ${page.sort}
    </if>
     <if test="page.cursor != null and page.limit != null">
     <include refid="Page_Clause" />
     </if>
    </if>
  </select>
</mapper>