<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.inventoryserver.exmapper.ExSiteInfoMapper">
<sql id="Base_Column_List">
    id,
    del,
    add_time,
    title,
    keyword,
    description
</sql>
  <insert id="save" parameterType="com.xiang.bean.po.SiteInfo">
    insert into site_info (
     <include refid="Base_Column_List" />
      )
    values (
    #{id,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{del,jdbcType=BIT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{addTime,jdbcType=TIMESTAMP,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{title,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{keyword,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{description,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
      )
  </insert>
</mapper>