<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context 
						http://www.springframework.org/schema/context/spring-context.xsd
						http://www.springframework.org/schema/tx 
						http://www.springframework.org/schema/tx/spring-tx.xsd">

	<bean id="dataSource"
		class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="initialPoolSize"
			value="${jdbc.initialPoolSize}" />
		<property name="minPoolSize" value="${jdbc.minPoolSize}" />
		<property name="maxPoolSize" value="${jdbc.maxPoolSize}" />
		<property name="maxIdleTime" value="${jdbc.maxIdleTime}" />
		<property name="idleConnectionTestPeriod"
			value="${jdbc.idleConnectionTestPeriod}" />
		<property name="preferredTestQuery" value="select 1" />
		<property name="acquireIncrement"
			value="${jdbc.acquireIncrement}" />
		<property name="acquireRetryAttempts"
			value="${jdbc.acquireRetryAttempts}" />
		<property name="acquireRetryDelay"
			value="${jdbc.acquireRetryDelay}" />
		<property name="breakAfterAcquireFailure"
			value="${jdbc.breakAfterAcquireFailure}" />
		<property name="checkoutTimeout"
			value="${jdbc.checkoutTimeout}" />
		<property name="autoCommitOnClose"
			value="${jdbc.autoCommitOnClose}" />
		<property name="forceIgnoreUnresolvedTransactions"
			value="${jdbc.forceIgnoreUnresolvedTransactions}" />
		<property name="unreturnedConnectionTimeout"
			value="${jdbc.unreturnedConnectionTimeout}" />
		<property name="maxStatements" value="${jdbc.maxStatements}" />
		<property name="maxStatementsPerConnection"
			value="${jdbc.maxStatementsPerConnection}" />
		<property name="testConnectionOnCheckin"
			value="${jdbc.testConnectionOnCheckin}" />
		<property name="testConnectionOnCheckout"
			value="${jdbc.testConnectionOnCheckout}" />
		<property name="usesTraditionalReflectiveProxies"
			value="${jdbc.usesTraditionalReflectiveProxies}" />
		<property name="numHelperThreads"
			value="${jdbc.numHelperThreads}" />
		<property name="driverClass" value="${jdbc.driverClass}" />
		<property name="jdbcUrl"
			value="jdbc:mysql://${jdbc.jdbcUrl.master}/${jdbc.database.master}?useUnicode=true&amp;characterEncoding=utf-8&amp;rewriteBatchedStatements=true&amp;autoReconnect=true&amp;failOverReadOnly=false&amp;useSSL=false&amp;allowMultiQueries=true" />
		<property name="user" value="${jdbc.user.master}" />
		<property name="password" value="${jdbc.password.master}" />
	</bean>
	

<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
  <property name="dataSource" ref="dataSource" />
</bean>
 <tx:annotation-driven transaction-manager="transactionManager"
        proxy-target-class="true" />
	<bean id="sqlSessionFactory"
		class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml"></property>
		<property name="typeHandlersPackage" value="com.xiang.mybatis.typehandler"/>
	</bean>
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage"
			value="com.xiang.inventoryserver.exmapper,com.xiang.inventoryserver.mapper" />
	</bean>
	<!-- 开发生产环境配置 -->
	<beans profile="development">
		<bean
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="order" value="1" />
			<property name="ignoreUnresolvablePlaceholders" value="true" />
			<property name="locations"
				value="classpath:development/jdbc.properties" />
		</bean>
	</beans>
	<beans profile="production">
		<bean
			class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
			<property name="order" value="1" />
			<property name="ignoreUnresolvablePlaceholders" value="true" />
			<property name="locations"
				value="classpath:production/jdbc.properties" />
		</bean>
	</beans>
</beans>
