<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.xiang.exmapper.ExBaseMapper">
	<update id="setDel" parameterType="map">
		update ${table}
		<set>
		del = #{del,jdbcType=BIT}
		</set>
		<where>
		id in
			<foreach close=")" collection="ids" item="listItem" open="("
				separator=",">
				#{listItem,jdbcType=BIGINT}
			</foreach>
		</where>
	</update>
	<update id="setFlag" parameterType="map">
		update ${table}
		<set>
		${field} = #{flag}
		</set>
		<where>
		id in
			<foreach close=")" collection="ids" item="listItem" open="("
				separator=",">
				#{listItem,jdbcType=BIGINT}
			</foreach>
		</where>
	</update>
	<select id="getMax"  resultType="java.lang.Long">
    select max(${field}) from ${table}
  </select>
</mapper>