<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiang.exmapper.ExTranslateTextMapper">
<sql id="Base_Column_List">
    id,
    del,
    add_time,
    referer_id,
    field,
    content,
    type,
    language
</sql>
  <insert id="save" parameterType="com.xiang.bean.po.TranslateText">
    insert into translate_text (
     <include refid="Base_Column_List" />
      )
    values (
    #{id,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{del,jdbcType=BIT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{addTime,jdbcType=TIMESTAMP,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{refererId,jdbcType=BIGINT,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{field,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{content,jdbcType=LONGVARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{type,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler},
    #{language,jdbcType=VARCHAR,typeHandler=com.xiang.mybatis.typehandler.SaveTypeHandler}
      )
  </insert>
    <select id="count" parameterType="map" resultType="java.lang.Long">
    select count(*) from translate_text where referer_id=#{refererId} and field=#{field} and type=#{type} and language=#{language}
  </select>
</mapper>